
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/IndexStyle.css" rel="stylesheet" type="text/css" />

<div class="index_entry_board">
    <div class="index_entry_text">
        This is thee text...
    </div>
    <div class="index_entry_image">
        Image goes here
    </div>
</div>

<div class="create_post">
    
</div>
